@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --color-background: oklch(98% 0 0);
    --color-postcard-background: oklch(98% 0 0);
    --color-loginpanel-background: oklch(96.1% 0 0);
    --color-foreground: oklch(3.9% 0 0);
    --color-card: oklch(100% 0 0);
    --color-card-foreground: oklch(3.9% 0 0);
    --color-popover: oklch(100% 0 0);
    --color-popover-foreground: oklch(3.9% 0 0);
    --color-primary: oklch(9% 0 0);
    --color-primary-foreground: oklch(98% 0 0);
    --color-secondary: oklch(96.1% 0 0);
    --color-secondary-foreground: oklch(9% 0 0);
    --color-muted: oklch(96.1% 0 0);
    --color-muted-foreground: oklch(45.1% 0 0);
    --color-accent: oklch(96.1% 0 0);
    --color-accent-foreground: oklch(9% 0 0);
    --color-destructive: oklch(60.2% 0.1579 29.233);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(89.8% 0 0);
    --color-input: oklch(89.8% 0 0);
    --color-ring: oklch(3.9% 0 0);
    --radius: 0.5rem;
}

.dark {
    --color-background: oklch(3.9% 0 0);
    --color-loginpanel-background: oklch(23% 0 0);
    --color-postcard-background: oklch(23% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-card: oklch(3.9% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-popover: oklch(3.9% 0 0);
    --color-popover-foreground: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(9% 0 0);
    --color-secondary: oklch(14.9% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);
    --color-muted: oklch(14.9% 0 0);
    --color-muted-foreground: oklch(63.9% 0 0);
    --color-accent: oklch(14.9% 0 0);
    --color-accent-foreground: oklch(98% 0 0);
    --color-destructive: oklch(30.6% 0.1373 29.233);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(14.9% 0 0);
    --color-input: oklch(14.9% 0 0);
    --color-ring: oklch(83.1% 0 0);
}

@keyframes zoom-fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.animate-zoom-fade {
    animation: zoom-fade 0.4s ease-out forwards;
}

* {
    border-color: var(--color-border);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

[data-scroll-locked][data-scroll-locked] {
    overflow-y: scroll !important;
}